<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Imagem</th>
            <th scope="col">Nome</th>
            <th scope="col">preparo</th>
            <th scope="col">ingrdientes</th>
            <th scope="col">Categoria</th>
            {{#if admin}}
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
            {{/if}}
        </tr>
    </thead>
    {{#each receitas}}
    <tr>
        <td>
            <image width="200px" height="200px" src="uploads/{{imagem}}"></image>
        </td>
        <th scope="row">{{nome}}</th>
        <td>{{preparo}}</td>
        <td>{{ingredientes}}</td>
        
        <td>
            {{categoriaNome}}
        </td>
        {{#if ../admin}}
        <td><a href="receitaUpdate/{{id}}">Editar</a></td>
        <td><a href="receitaDelete/{{id}}">Deletar</a></td>
        {{/if}}
    </tr>
    {{/each}}
</table>